{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block styles %}
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/style.css' %}">
        <link href="{% static 'webfonts/all.min.css' %}" rel="stylesheet">

        {% endblock %}
        <meta charset="UTF-8">
        <title>
            ESSADEQ MOUMTAZ
        </title>

    </head>
    <body class="lang-fr home  ">

        <div class="tools">

            <div class="tools__container" style="margin-top: 150px;">
                <div class="tools__item">
                    <a href="{% url 'excel' %}" title="Fusionner PDF">
                        <div class="tools__item__icon">
                            <img src="../static/img/excel.png" alt="I.Y"
                                width="40" height="40" viewBox="0 0 60 60" />
                        </div>
                        <h3>Excel</h3>

                    </a>
                </div>
                <div class="tools__item">
                    <a href="{% url 'csv' %}" title="Fusionner PDF">
                        <div class="tools__item__icon">
                            <img src="../static/img/csv.png" alt="I.Y"
                                width="40" height="40" viewBox="0 0 50 50" />

                        </div>
                        <h3>CSV</h3>

                    </a>
                </div>
                <div class="tools__item">
                    <a href="{% url 'url' %}" title="Compresser PDF">
                        <div class="tools__item__icon">
                            <img src="../static/img/url.png" alt="I.Y"
                                width="40" height="40" viewBox="0 0 50 50" />

                        </div>
                        <h3>Lien</h3>

                    </a>
                </div>
                <div class="tools__item">
                    <a href="{% url 'text' %}" title="PDF en Word">
                        <div class="tools__item__icon">
                            <img src="../static/img/fichier.png" alt="I.Y"
                                width="40" height="40" viewBox="0 0 50 50" />

                        </div>
                        <h3>Text</h3>

                    </a>
                </div>
                
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/binomiale.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi Binomial</h3>      
                    </a>
                </div>
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/loi bernouilli.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi Bernoulli </h3>      
                    </a>
                </div>
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/uniforme.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi Uniforme</h3>      
                    </a>
                </div>
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/poisson.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi Poisson</h3>      
                    </a>
                </div>
                
               
               
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/expo.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi exponentielle</h3>      
                    </a>
                </div>
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/normal.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Loi Normale Continue
                        </h3>      
                    </a>
                </div>
                <div class="tools__item">
                    <a href="#" title="PDF en Excel">
                        <div class="tools__item__icon">
                            <img src="../static/img/lois.png" alt="I.Y"
                            width="40" height="40" viewBox="0 0 50 50" />
                        </div>
                        <h3>Calcules des mesures
                        </h3>      
                    </a>
                </div>
            </div>

        </body>
    </html>
