<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Display</title>
</head>
<body>
    {% if chart %}
        <!-- Si plot_data n'est pas vide, afficher l'image du graphe -->
        <img src="data:image/png;base64,{{ chart|safe }}" alt="Chart">
    {% else %}
        <!-- Si plot_data est vide, afficher un message -->
        <p>Aucune donnée de diagramme disponible pour l'instant.</p>
    {% endif %}
</body>
</html>
