{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
    <title>Chart Display</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% block styles %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'css/diagramme.css' %}">

    {% endblock %}
</head>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body>
    {% if chart %}
        <div class="card">
            <button onclick="history.back()" class="back-button" >
                <i class="fas fa-arrow-left"></i> Retour
            </button>
           
            <div id="plotly-chart"></div>
        </div>
        <script>
            var chartData = '{{ chart|safe }}'; 
            Plotly.newPlot('plotly-chart', JSON.parse(chartData), {});
        </script>
    {% else %}
        {% if error_message %}
       
           
        <div style=" width: 90%;
        height: 350px;position: relative;
        margin: auto;
        overflow: hidden;">
        <div id="error-box">
             
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message"><h1 class="alert">{{ error_message }}</h1></div>
            
            <button class="button-box" onclick="history.back()"> <h1 class="red">Try Again</h1></button>
          </div>
        </div>
        {% else %}
            <p>Aucune donnée de diagramme disponible pour l'instant.</p>
        {% endif %}
    {% endif %}
</body>

</html>
