{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
    <title>Fusionnez des fichiers excel</title>
    

<link rel="stylesheet" type="text/css"href="{% static 'css/style.css' %}">
</head>
<body class="lang-fr toolpage  ">
<header class="header">
    <nav>
        
<a class="brand" href="/fr" title="iLovePDF">
    <img src="../static/img/IY.png" alt="I.Y" width="20px"
                        height="20px" />
</a>          
           
    </nav>
</header>

            <div class="footer">
    <div class="footer__copy">
        &copy; i.Y &reg; - Votre éditeur     </div>
</div>        


<script>
        var siteData = {
        csrfParam: '_csrf-ilovepdf',
        csrfToken: 'Ev-oWy-TIu8RsO3rnsaXOzdJhmLjH9-jRXJYPLeJ_GVLq_08Sddn2EnBpobHs_RiRy71FbZ0rPY0H3V1h-SJJg=='
    };
        var lang = 'fr';
    var brand = 'iLovePDF';
    var brand_ref = 'ilovepdf';
            var nds = {
        'ck': 0,
        'content': '<p>Nous espérons que notre nouveau site vous plaira, et que vous le trouverez simple d\'utilisation.<br>Si vous rencontrez le moindre souci, merci de <a href=\"/fr/contacter\">nous le faire savoir</a>.<br>Nous pouvons régler tout problème dont nous sommes informés.</p>',
        'title': '<span style="color:#1D9D58">Bienvenue sur la toute nouvelle version de iLovePDF</span>'
    };
    </script>
    <script src="/dist/js/app.a1136a7.js" async="async"></script></body>
</html>
