{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block styles %}
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/style.css' %}">
            <link href="{% static 'webfonts/all.min.css' %}" rel="stylesheet">
        {% endblock %}
        <meta charset="UTF-8">
        <title>
            ESSADEQ MOUMTAZ
        </title>
        <meta name="description"
            content="iLovePDF est un service en ligne pour traiter les fichiers PDF, entièrement gratuit et simple d'utilisation. Fusionnez des PDF, divisez des PDF, compressez des PDF, Office en PDF, PDF en JPG et bien plus encore !" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="author" content="ilovepdf.com" />
        <meta name="keywords"
            content="Fusion PDF, division PDF, combinaison PDF, extraction PDF, compression PDF, conversion PDF, Word en PDF, Excel en PDF, PowerPoint en PDF, PDF en JPG, JPG en PDF" />
        <link rel="canonical" href="https://www.ilovepdf.com/fr" />
        <meta name="apple-itunes-app" content="app-id=1207332399">
        <meta name="google-play-app" content="app-id=com.ilovepdf.www">
        <link rel="apple-touch-icon" href="/img/app-icon.png">
        <meta name="google-site-verification"
            content="IZueAX8T8h1eMQN3D0y8Xx7qu8-yCvtHnwn3MmpdSLo" />
        <link rel="icon" type="image/png" sizes="16x16"
            href="/img/favicons-pdf/favicon-32x32.png">
        <meta property="og:site_name"
            content="iLovePDF - Outils en ligne pour PDF" />
        <meta property="og:title"
            content="iLovePDF | Outils PDF en ligne pour les amateurs de PDF" />
        <meta property="og:description"
            content="iLovePDF est un service en ligne pour traiter les fichiers PDF, entièrement gratuit et simple d'utilisation. Fusionnez des PDF, divisez des PDF, compressez des PDF, Office en PDF, PDF en JPG et bien plus encore !" />
        <meta property="og:image"
            content="https://www.ilovepdf.com/img/ilovepdf/social/fr/ilovepdf.png" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.ilovepdf.com/fr" />
        <meta property="og:app_id" content="127502793959418" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@ilovepdf_com">
        <meta name="twitter:creator" content="@ilovepdf_com">
        <meta name="twitter:title"
            content="iLovePDF | Outils PDF en ligne pour les amateurs de PDF">
        <meta name="twitter:description"
            content="iLovePDF est un service en ligne pour traiter les fichiers PDF, entièrement gratuit et simple d'utilisation. Fusionnez des PDF, divisez des PDF, compressez des PDF, Office en PDF, PDF en JPG et bien plus encore !">
        <meta name="twitter:image:src"
            content="https://www.ilovepdf.com/img/ilovepdf/social/fr/ilovepdf.png" />
        <link rel="preload" href="/font/Graphik-Bold.woff2" as="font"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/font/Graphik-Semibold.woff2" as="font"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/font/Graphik-Medium.woff2" as="font"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/font/Graphik-Regular.woff2" as="font"
            type="font/woff2" crossorigin="anonymous">
        <meta name="csrf-param" content="_csrf-ilovepdf">
        <meta name="csrf-token"
            content="EjFxRd7uRflBdr47V2SVU1huxSyxZe_oUb_eUQQnR2VxCBMDiZhougMd71BiBqQ4aDqPQd8mvaop2pdmd0MELw==">
        <script>var ilx = {'c': 'site', 'a': 'index'};</script>
        <script>
            var nc=0;
        var ibc = nc;
    (function (i,l,o,v,e,g,u,a) {
        i['ib']=i['ib']||{'set':function(){(i['ib'].q=i['ib'].q||[]).push(arguments)}};
        i['iLE']=e;i[e]=i[e]||function(){(i[e].q=i[e].q||[]).push(arguments)};i[e].l=1*new Date();u=l.createElement(o);
        a=l.getElementsByTagName(o)[0];u.async=1;u.src=v;a.parentNode.insertBefore(u,a);i[e+'u']=g;    })(window, document, 'script', '/js/ilove.min.js?a=1.3', 'ev');

            ev('sendOnce', 'pageview');
    </script>
        <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-44KQ8HETWT"></script>
        <script>
    var gck=undefined,gnock=false;
    var gcas=gcaa=(gnock?'denied':'granted');gnock&&(gcas=(3==gck||1==gck||4==gck?'granted':'denied'))&&(gcaa=(1==gck||2==gck||4==gck?'granted':'denied'));
    window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {'analytics_storage': gcas, 'ad_storage': gcaa});gtag('js', new Date());
    var config = {};    gtag('config', 'G-44KQ8HETWT', config);
</script><script>
(function(){
    window.__browserSupports__ = [];
    try{ 
        var grid_supported = typeof document.createElement('div').style.grid === 'string';
        grid_supported ? window.__browserSupports__.push('grid') : window.__browserSupports__.push('not:grid');
    }catch(e){}

    var interval = null;
    var fn = function(){
        document.body.setAttribute("data-browser-supports", window.__browserSupports__.join(" "));
        clearInterval(interval);
        interval = null;
    }

    interval = setInterval(function(){
        if(document.body) fn();
    }, 5);
})();
</script>

    </head>
    <body class="lang-fr home  ">
       
            
            <!-- <div class="home-title">
                <img src="../static/img/IY.png" alt="I.Y" width="250px"
                height="250px" />
                
            </div> -->
            <div style="margin-top:100px;margin:40px;"><a href="{% url 'app' %}" style="color:black"> <i class="fa fa-arrow-left"></i> Retour </a></div>

            <div class="tools " style="margin-top: 100px;">
                <div class="tools__container">
                   
                   
                        <div class="tools__item">
                            <a href="{% url 'excel' %}" title="Excel">
                                <div class="tools__item__icon">
                                    <img src="../static/img/excel.png"  width="40" height="40"  viewBox="0 0 50 50" />
                                </div>
                                <h3 >Excel</h3>
                            </a>
                        </div>
                    
                    
                    <div class="tools__item"  >
                        <a href="{% url 'csv' %}" title="Csv">
                            <div class="tools__item__icon">
                                <img src="../static/img/csv.png" alt="I.Y"   width="40" height="40" viewBox="0 0 50 50" />

                            </div>
                            <h3 >CSV</h3>
                           
                        </a>
                    </div>
                    <div class="tools__item" >
                        <a href="{% url 'url' %}" title="Lien">
                            <div class="tools__item__icon">
                                <img src="../static/img/url.png"   width="40" height="40" viewBox="0 0 50 50" />

                            </div>
                            <h3 >Lien</h3>
                          
                        </a>
                    </div>
                    <div class="tools__item" style="background: rgba(182,64,50,255);">
                        <a href="{% url 'text' %}" title="Text">
                            <div class="tools__item__icon">
                                <img src="../static/img/fichier.png" style="background:white"  width="40" height="40" viewBox="0 0 50 50" />

                            </div>
                            <h3 style="color:white">Text</h3>
                           
                        </a>
                    </div>
                    <div class="tools__item">
                        <a href="{% url 'image'%}"
                            title="image">
                            <div class="tools__item__icon">
                                <img src="../static/img/autre.png" alt="I.Y"  width="40" height="40" viewBox="0 0 60 60" />

                            </div>
                            <h3>Image</h3>
                           
                        </a>
                    </div>

                    <form method="post" enctype="multipart/form-data" id="fileUploadForm"> 
                        <div class="centered">
                            <input type="file" name="file" id="fileInput" accept=".txt">
                        </div>
                        <div class="centered-container">
                            {% if error_message %}
                                <p>{{ error_message }}</p>
                            {% endif %}
                            <button class="a" id="visualiserButton" style="display: none;">Visualiser</button>
                            <button id="parcourirButton" style="display: none;">Parcourir les données</button>
                        </div>
                    </form>
                
                    <script>
                        document.getElementById('fileInput').addEventListener('change', function () {
                            // Show the buttons when a file is selected
                            document.getElementById('visualiserButton').style.display = 'inline-block';
                            document.getElementById('parcourirButton').style.display = 'inline-block';
                        });
                
                        document.getElementById('visualiserButton').addEventListener('click', function () {
                           
                        });
                
                        document.getElementById('parcourirButton').addEventListener('click', function () {
                            
                        });
                    </script>
                <style>.centered-container {
                            display: flex;
                            flex-direction: ligne;
                            align-items: center;
                            justify-content: center;
                            width: 100vw;
                            height: 10vh;
                           
                        }
                        .centered {
                            display: flex;
                            flex-direction: ligne;
                            align-items: center;
                            justify-content: center;
                            width: 100vw;
                            height: 30vh;
                           
                        }
                        .a {
                            
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                        button {
                            margin: 10px;
                           
                            padding: 20px;
                            font-size: 24px;
                            background-color: rgba(182,64,50,255);
                            border: 10px solid rgba(182,64,50,255);
                            color:white;
                            border-radius: 20px;
                        }
                        input {
                            padding: 20px;
                            font-size: 24px;
                            background-color: rgba(182,64,50,255);
                            border: 10px solid rgba(182,64,50,255);
                            color: white;
                            border-radius: 20px;
                           
                          }
                          
                           
                        
                        </style>

                       
                    
                    
                </div>

                <script>
        var lang = 'fr';
    var brand = 'iLovePDF';
    var brand_ref = 'ilovepdf';
            var nds = {
        'ck': 0,
        'content': '<p>Nous espérons que notre nouveau site vous plaira, et que vous le trouverez simple d\'utilisation.<br>Si vous rencontrez le moindre souci, merci de <a href=\"/fr/contacter\">nous le faire savoir</a>.<br>Nous pouvons régler tout problème dont nous sommes informés.</p>',
        'title': '<span style="color:#1D9D58">Bienvenue sur la toute nouvelle version de iLovePDF</span>'
    };
    </script>
                <script src="/dist/js/web.a1136a7.js" async="async"></script></body>
        </html>
