{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Uniform Distribution</title>
        {% block styles %}
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/lois.css' %}">

        {% endblock %}
        <style>
        #uniforme-plot {
            margin: 20px auto;
            width: 80%;
            height: 400px;
            border: 1px solid #ccc;
        }
    </style>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <a href="{% url 'app' %}" class="back-button">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
        <h1>Uniform Distribution</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Afficher le graphique</button>
        </form>

        <div id="uniforme-plot"></div>

        <script>
       
            var plotData = {{ plot_data|safe }};
            Plotly.newPlot('uniforme-plot', plotData);
        </script>
    </body>
</html>
