{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation des données</title>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/visualiser.css' %}">
        <link href="{% static 'webfonts/all.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div class="card1">
        <h2>Formulaire d'Upload Excel</h2>
        <form method="post" action="{% url 'visualiser_chart' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <select id="type_chart" name="type_chart">
                <option value="bar">Barplot</option>
                <option value="histogram">histogram</option>
                <option value="piechart">piechart</option>
                <option value="histplot">Histplot</option>
                <option value="scatterplot">Scatterplot</option>
                <option value="heatmap">heatmap</option>
                <option value="lineplot">lineplot</option>
                <option value="boxplot">boxplot</option>
                <option value="violinplot">violinplot</option>
                <option value="kdeplot">kdeplot</option>
            </select>
            <select id="col_name1" name="col_name1">
            {% for col in column_names %}
                <option value="{{ col }}">{{ col }}</option>
            {% endfor %}    
            </select>
            <select id="col_name2" name="col_name2">
            {% for col in column_names %}
                <option value="{{ col }}">{{ col }}</option>
            {% endfor %}    
            </select>
            <button type="submit">Envoyer</button>
        </form>
    </div>

    <div class="card">
        {% if df %}
            <h3>Résultat :</h3>
            <div style="overflow-x: auto;">
                <table>
                    {{ df|safe }}
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>
